.header{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.index {
    background-color: gray;
}

.tuna {
    background-color: salmon;
}

.pancake {
    background-color: burlywood;
}

.green {
    background-color: rgb(62, 126, 62);
}

h4 {
    background-color: gray;
    color: whitesmoke;
}

.button {
    background-color: rgb(192, 191, 191);
    color: white;
    font-weight: bold;
}

img {
    height: 400px;
    width: 450px;
    
}